.accessories {
  padding-bottom: 48px;

  @media screen and (min-width: 768px) {
    padding-bottom: 120px;
  }
}

.accessories__top-title {
  font-family: 'Roboto Medium';
  font-size: 24px;
  line-height: 1.16;
  color: #ffffff;

  @media screen and (min-width: 768px) {
    font-size: 35px;
    line-height: 1.17;
    margin-left: 50px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 56px;
  }
}

.accessories__title {
  font-family: 'Roboto Medium';
  font-size: 22px;
  line-height: 1.18;
  color: #86e543;
  padding: 8px 0;
}

.accessories-box__price {
  display: flex;
  gap: 80px;
  align-items: center;
}

.accessories-old__price {
  font-family: 'Roboto Medium';
  font-size: 14px;
  line-height: 1;
  color: #8d9289;
  text-decoration: line-through;
}

.accessories-new__price {
  font-family: 'Roboto Medium';
  font-size: 20px;
  line-height: 1;
  color: #86e543;
}

.accessories-wrap__img {
  border-radius: 12px;

  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

.accessories__list {
  display: flex;
  gap: 36px;
  justify-content: center;
  padding-top: 16px;

  @media screen and (max-width: 767.9px) {
    flex-direction: column;
  }

  @media screen and (min-width: 768px) {
    flex-wrap: wrap;
    padding-top: 24px;
  }

  @media screen and (min-width: 1280px) {
    flex-wrap: wrap;
    gap: 20px;
  }
}

.accessories__item {
  @media screen and (min-width: 768px) {
    margin-bottom: 6px;
  }

  @media screen and (min-width: 1280px) {
    width: calc((100% - 60px) / 4);
    margin-bottom: 24px;
  }
}

.accessories-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  line-height: 1.14;
  color: #ffffff;
  background-color: #01383a;
  padding: 16px 16px 52px 16px;
  overflow: hidden;
  transform: translateY(100%);
  transition-property: transform, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);

  @media screen and (max-width: 480px) {
    font-size: 14px;
  }

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
}

.accessories-wrap {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  border: 1px solid #86e543;
}

.accessories__link {
  &:focus .accessories-wrap,
  &:hover .accessories-wrap {
    box-shadow: 0px 4px 10px rgba(134, 229, 67, 0.1),
      0px 4px 20px rgba(134, 229, 67, 0.4);
  }

  &:focus .accessories-wrap .accessories-box,
  &:hover .accessories-wrap .accessories-box {
    transform: translateY(0);
  }
}
