.contact-us {
  .contact-us-container {
    // width: 100%;
    margin: 0;
    padding: 32px 16px 48px 16px;

    @media screen and (min-width: 480px) {
      width: 480px;
      padding: 32px 16px 48px 16px;
    }

    @media screen and (min-width: 768px) {
      width: var(--tablet);
      padding: 48px 89px 120px 89px;
    }

    @media screen and (min-width: 1280px) {
      width: var(--desktop);
      padding: 48px 41px 120px 40px;
    }
  }

  .contact-us-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;

    color: #86e543;
    margin-bottom: 16px;

    @media screen and (min-width: 768px) {
      font-weight: 600;
      font-size: 36px;
      line-height: 1.16;
      margin-bottom: 48px;
    }

    @media screen and (min-width: 1280px) {
      font-weight: 600;
      font-size: 36px;
      line-height: 42px;
    }
  }

  .buy-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.18;
    /* identical to box height */
    padding: 16px 42px;
    border-radius: 16px;
    border: 0;
    background-color: #86e543;
    color: #01383a;
    cursor: pointer;
    transition: 250ms linear;

    @media screen and (min-width: 768px) {
      font-size: 32px;
      line-height: 1.18;
      /* identical to box height */
      text-transform: uppercase;
      padding: 16px 64px;
    }
  }

  .buy-button:hover {
    box-shadow: 0px 8px 20px rgba(134, 229, 67, 0.5),
      0px 4px 10px rgba(255, 255, 255, 0.1);
  }

  .add-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    padding: 16px 36px;
    border-radius: 16px;
    border: 1px solid #86e543;
    color: #86e543;
    background-color: #01383a;
    cursor: pointer;

    @media screen and (min-width: 768px) {
      font-size: 32px;
      line-height: 1.18;
      text-transform: uppercase;
      padding: 16px 52px;
    }
  }

  .online-title {
    margin-bottom: 44px;
  }

  .online-form {
    width: 100%;

    @media screen and (min-width: 1280px) {
      display: flex;
      gap: 20px;
      align-items: center;
      margin-bottom: 48px;
    }
  }

  .inputs {
    @media screen and (min-width: 1280px) {
      width: 590px;
    }
  }

  .online-input-wrap {
    position: relative;
  }

  .online-area-wrap {
    width: 100%;
    position: relative;

    @media screen and (min-width: 1280px) {
      width: 589px;
    }
  }

  .online-label {
    position: absolute;
    top: 0;
    left: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    color: #ffffff;
  }

  .online-input {
    width: 270px;
    height: 24px;
    margin-bottom: 40px;
  }

  .last {
    @media screen and (min-width: 1280px) {
      margin-bottom: 0px;
    }
  }

  .online-item {
    padding-bottom: 4px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #86e543;
    outline: transparent;
    color: #f7f7f7;
    width: 100%;
  }

  .online-item::placeholder {
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
  }

  .online-text {
    background-color: transparent;
    width: 100%;
    height: 95px;
    margin-bottom: 24px;
    resize: none;
    border: 1px solid #86e543;
    border-radius: 0px;
    margin-top: 4px;

    @media screen and (min-width: 768px) {
      height: 256px;
    }

    @media screen and (min-width: 1280px) {
      margin-bottom: 0px;
      height: 260px;
    }
  }

  .comment-label {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    color: #cdcdcd;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    @media screen and (min-width: 768px) {
      gap: 24px;
    }

    @media screen and (min-width: 1280px) {
      gap: 20px;
      justify-content: center;
      align-items: center;
      flex-direction: row;
    }
  }

  .list-icon {
    position: absolute;
    fill: #ffffff;
    right: 0;
    top: 5%;
  }
}
