.filter {
  padding-top: 40px;
  padding-bottom: 32px;

  @media screen and (min-width: 768px) {
    padding-top: 120px;
    padding-bottom: 72px;
  }
}

.filter__list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: space-around;

  @media screen and (min-width: 768px) {
    justify-content: space-between;
    gap: 50px;
  }

  @media screen and (min-width: 1280px) {
    justify-content: center;
    gap: 44px;
  }
}

.filter__btn {
  padding-top: 8px;
  padding-bottom: 8px;
  width: 134px;
  border-radius: 16px;
  border: 2px solid #86e543;
  background-color: #01383a;
  font-family: 'Roboto Bold';
  font-size: 16px;
  line-height: 1.18;
  color: #86e543;
  transition-property: background-color, color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    filter: drop-shadow(0px 4px 10px rgba(255, 255, 255, 0.1))
      drop-shadow(0px 4px 20px rgba(255, 255, 255, 0.4));
  }

  &:active {
    color: #01383a;
    background-color: #86e543;
    box-shadow: 0px 4px 10px rgba(134, 229, 67, 0.1),
      0px 4px 20px rgba(134, 229, 67, 0.4);
  }

  @media screen and (min-width: 768px) {
    width: 132px;
    padding: 16px 0;
  }

  @media screen and (min-width: 1280px) {
    width: 168px;
    padding: 16px 0;
  }
}
