
.hero {
  width: 100%;
  padding-top: 180px;
  padding-bottom: 127px;
  
  opacity: 0.75;
  background-image: 
    url('/src/images/hero/Frame-mob.png'), 
    url('/src/images/hero/hero-bg.jpg');

@media screen and (min-width: 1280px) {
    padding-top: 180px;
    padding-bottom: 209px;
    background-image: url('/src/images/hero/Frame-desk.png'),
      url('/src/images/hero/hero-bg.jpg');
    background-position: right, center bottom;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('/src/images/hero/Frame-desk-2x.png'),
        url('/src/images/hero/hero_bg-2x.jpg');
    }
  }
}

.hero_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and(min-width:768px) {
    flex-wrap: wrap;
    flex-direction: row;
  }
  @media screen and(min-width:1280px) {
    align-items: flex-start;
    flex-direction: column;
  }
}

.hero-title {
  width: 247px;
  padding-bottom: 25px;
  font-family: 'Roboto Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 1.19;
  text-align: center;
  white-space: pre-line;
  color: #ffffff;
  @media screen and(min-width:768px) {
    text-align: start;
    width: 388px;
    font-size: 56px;
    line-height: 1.18;
    padding-bottom: 94px;
  }
  @media screen and(min-width:1280px) {
    text-align: start;
    white-space: normal;
    width: 515px;
    font-size: 64px;
    line-height: 1.17;
    padding-bottom: 40px;
  }
}

.hero-btn {
  font-family: 'Roboto Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.19;
  // text-align: right;
  text-transform: uppercase;
  color: #01383a;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 20px;
  cursor: pointer;
  background: #86e543;
  border-radius: 16px;
  @media screen and(min-width:768px) {
    font-size: 32px;
    line-height: 1.19;
  }
  @media screen and(min-width:1280px) {
    font-size: 32px;
    line-height: 1.19;
  }
}
