.sale {
  padding: 48px 0;

  @media screen and (min-width: 768px) {
    padding: 120px 0;
  }
}

.sale__top-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  color: #ffffff;
  margin-left: 62px;

  @media screen and (min-width: 768px) {
    font-size: 35px;
    line-height: 1.17;
    margin-left: 102px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 56px;
  }
}

.sale__list {
  display: flex;
  gap: 36px;
  justify-content: center;
  padding-top: 16px;

  @media screen and (max-width: 767px) {
    flex-direction: column;
    justify-content: left;
    align-items: center;
  }

  @media screen and (min-width: 768px) {
    flex-wrap: wrap;
    padding-top: 24px;
  }

  @media screen and (min-width: 1280px) {
    flex-wrap: wrap;
    gap: 20px;
  }
}

.sale__item {
  width: 285px;

  @media screen and (min-width: 768px) {
    margin-bottom: 6px;
  }

  @media screen and (min-width: 1280px) {
    // width: calc((100% - 60px) / 4);
    margin-bottom: 24px;
  }
}

.sale-wrap__img {
  border-radius: 12px;

  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

.sale__title {
  font-weight: 500;
  font-size: 22px;
  line-height: 1.18;
  color: #86e543;
  padding: 8px 16px 8px 8px;
}

.sale-box__price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 8px;
}

.sale-old__price {
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  color: #8d9289;
  text-decoration: line-through;
}

.sale-new__price {
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  color: #86e543;
}

.sale-btn {
  display: flex;
  justify-content: center;
  padding: 24px 0 0 0;

  @media screen and (min-width: 768px) {
    padding: 28px 0 0 0;
  }

  @media screen and (min-width: 1280px) {
    padding: 24px 0 0 0;
  }
}

.sale-btn__wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: #01383a;
  //   padding: 16px 48px;
  background: #ffffff;
  border-radius: 16px;

  width: 153px;
  height: 51px;

  @media screen and (min-width: 768px) {
    font-size: 28px;
    line-height: 1.18;

    width: 195px;
    height: 65px;
  }

  transition: box-shadow 250ms linear;
  &:hover,
  &:focus {
    box-shadow: 0px 4px 20px rgba(255, 255, 255, 0.5),
      0px 4px 10px rgba(134, 229, 67, 0.1);
  }
}

.sale-content {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
  }
}

.sale-wrap {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  border: 1px solid #86e543;
}

.sale-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  line-height: 1.14;
  color: #ffffff;
  background-color: #01383a;
  padding: 16px 16px 52px 16px;
  overflow: hidden;
  transform: translateY(100%);
  transition-property: transform, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);

  @media screen and (max-width: 480px) {
    font-size: 14px;
  }

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
}

.sale__link {
  &:focus .sale-wrap,
  &:hover .sale-wrap {
    box-shadow: 0px 4px 10px rgba(134, 229, 67, 0.1),
      0px 4px 20px rgba(134, 229, 67, 0.4);
  }

  &:focus .sale-wrap .sale-box,
  &:hover .sale-wrap .sale-box {
    transform: translateY(0);
  }
}
