@import '~node_modules/modern-normalize/modern-normalize.css';
@font-face {
  font-family: "Roboto Regular";
  src: url("../fonts/roboto-regular/roboto-regular.eot"); /* IE9 Compat Modes */
  src: url("../fonts/roboto-regular/roboto-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-regular/roboto-regular.otf") format("opentype"), url("../fonts/roboto-regular/roboto-regular.svg") format("svg"), url("../fonts/roboto-regular/roboto-regular.ttf") format("truetype"), url("../fonts/roboto-regular/roboto-regular.woff") format("woff"), url("../fonts/roboto-regular/roboto-regular.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Medium";
  src: url("../fonts/roboto-medium/roboto-medium.eot"); /* IE9 Compat Modes */
  src: url("../fonts/roboto-medium/roboto-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-medium/roboto-medium.otf") format("opentype"), url("../fonts/roboto-medium/roboto-medium.svg") format("svg"), url("../fonts/roboto-medium/roboto-medium.ttf") format("truetype"), url("../fonts/roboto-medium/roboto-medium.woff") format("woff"), url("../fonts/roboto-medium/roboto-medium.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Bold";
  src: url("../fonts/roboto-bold/roboto-bold.eot"); /* IE9 Compat Modes */
  src: url("../fonts/roboto-bold/roboto-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-bold/roboto-bold.otf") format("opentype"), url("../fonts/roboto-bold/roboto-bold.svg") format("svg"), url("../fonts/roboto-bold/roboto-bold.ttf") format("truetype"), url("../fonts/roboto-bold/roboto-bold.woff") format("woff"), url("../fonts/roboto-bold/roboto-bold.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Condensed";
  src: url("../fonts/roboto-condensed/roboto-condensed.eot"); /* IE9 Compat Modes */
  src: url("../fonts/roboto-condensed/roboto-condensed.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-condensed/roboto-condensed.otf") format("opentype"), url("../fonts/roboto-condensed/roboto-condensed.svg") format("svg"), url("../fonts/roboto-condensed/roboto-condensed.ttf") format("truetype"), url("../fonts/roboto-condensed/roboto-condensed.woff") format("woff"), url("../fonts/roboto-condensed/roboto-condensed.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

:root {
  --desktop: 1280px;
  --tablet: 768px;
  --mobile: 480px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Roboto Regular";
  font-weight: 400;
  font-size: 24px;
  background-color: #01383A;
  color: white;
}

.container {
  padding: 0 17px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 40px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}

.main-page__wraper {
  margin: 0 auto;
  padding: 0;
  background-position: left top;
  background-repeat: repeat-y;
  background-size: cover;
  max-width: 100%;
  width: 480px;
  background-image: url("./../images/background/bg-mobile-1x.jpg");
}
@media screen and (min-width: 480px) {
  .main-page__wraper {
    max-width: 480px;
  }
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .main-page__wraper {
    background-image: url("./../images/background/bg-mobile-2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .main-page__wraper {
    width: 768px;
    max-width: 768px;
    background-image: url("./../images/background/bg-tablet-1x.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .main-page__wraper {
    background-image: url("./../images/background/bg-tablet-2x.jpg");
  }
}
@media screen and (min-width: 1280px) {
  .main-page__wraper {
    width: 1280px;
    max-width: 1280px;
    background-image: url("./../images/background/bg-0-1x.jpg");
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .main-page__wraper {
    background-image: url("./../images/background/bg-0-2x.jpg");
  }
}

.instruction .container {
  outline: 1px solid white;
}

:root {
  --bl-width: 100%;
  --bl-break-point: 192px;
  --bl-row-gap: 4px;
  --bl-heigth: 12px;
  --cnt-padding: 17px;
}

@media screen and (min-width: 480px) {
  :root {
    --bl-width: 480px;
    --bl-break-point: 192px;
    --bl-row-gap: 4px;
    --bl-heigth: 12px;
  }
}
@media screen and (min-width: 768px) {
  :root {
    --bl-width: 768px;
    --bl-break-point: 325px;
    --bl-row-gap: 8px;
    --bl-heigth: 16px;
    --cnt-padding: 40px;
  }
}
@media screen and (min-width: 1280px) {
  :root {
    --bl-width: 1280px;
    --bl-break-point: 473px;
    --bl-row-gap: 8px;
    --bl-heigth: 19px;
  }
}
.title-line {
  max-width: 100%;
  width: var(--bl-width);
  height: calc(var(--bl-heigth) + var(--bl-row-gap) + 1px);
  background-color: #02393b;
  position: relative;
}

.title-line__1 {
  position: absolute;
  width: var(--bl-break-point);
  left: calc(-1 * var(--cnt-padding));
  top: var(--bl-heigth);
  height: 1px;
  background-color: #7be34a;
  box-shadow: 0px 4px 25px rgba(123, 227, 74, 0.25);
}

.title-line__2 {
  position: absolute;
  width: 1px;
  height: var(--bl-heigth);
  left: calc(var(--bl-break-point) - var(--cnt-padding));
  top: 1px;
  background-color: #7be34a;
  box-shadow: 0px 4px 25px rgba(123, 227, 74, 0.25);
}

.title-line__3 {
  position: absolute;
  left: calc(var(--bl-break-point) - var(--cnt-padding));
  top: 0;
  width: calc(var(--bl-width) - var(--bl-break-point));
  height: 1px;
  background-color: #7be34a;
  box-shadow: 0px 4px 25px rgba(123, 227, 74, 0.25);
}
@media screen and (max-width: 479px) {
  .title-line__3 {
    width: calc(var(--bl-width) - var(--bl-break-point) + var(--cnt-padding) * 2);
  }
}

.title-line__4 {
  position: absolute;
  width: calc(var(--bl-break-point) + var(--bl-row-gap));
  left: calc(-1 * var(--cnt-padding));
  top: calc(var(--bl-heigth) + var(--bl-row-gap));
  height: 1px;
  background-color: #28780d;
  box-shadow: 0px 4px 25px rgba(40, 120, 13, 0.25);
}

.title-line__5 {
  position: absolute;
  width: 1px;
  height: var(--bl-heigth);
  left: calc(var(--bl-break-point) + var(--bl-row-gap) - var(--cnt-padding));
  top: calc(1px + var(--bl-row-gap));
  background-color: #28780d;
  box-shadow: 0px 4px 25px rgba(40, 120, 13, 0.25);
}

.title-line__6 {
  position: absolute;
  left: calc(var(--bl-break-point) + var(--bl-row-gap) - var(--cnt-padding));
  top: var(--bl-row-gap);
  width: calc(var(--bl-width) - var(--bl-break-point) - var(--bl-row-gap));
  height: 1px;
  background-color: #28780d;
  box-shadow: 0px 4px 25px rgba(40, 120, 13, 0.25);
}
@media screen and (max-width: 479px) {
  .title-line__6 {
    width: calc(var(--bl-width) - var(--bl-break-point) - var(--bl-row-gap) + var(--cnt-padding) * 2);
  }
}

.hero .test1,
.hero .test2,
.hero .test3,
.hero .test4 {
  padding: 20px;
  font-size: 20px;
}
.hero .test1 {
  font-family: "Roboto Regular";
}
.hero .test2 {
  font-family: "Roboto Medium";
}
.hero .test3 {
  font-family: "Roboto Bold";
}
.hero .test4 {
  font-family: "Roboto Condensed";
}

.take-order {
  padding: 40px 16px 32px 16px;
}
@media screen and (min-width: 768px) {
  .take-order {
    padding: 120px 40px 48px 40px;
  }
}

.take-order__title,
.take-order__product {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .take-order__title,
.take-order__product {
    font-size: 56px;
    line-height: 1.18;
  }
}

.take-order__title {
  margin-left: 16px;
}
@media screen and (min-width: 768px) {
  .take-order__title {
    margin-left: 59px;
  }
}
@media screen and (min-width: 1280px) {
  .take-order__title {
    margin-left: 102px;
  }
}

.tabl-take-order__product {
  margin-top: 24px;
  margin-bottom: 16px;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 1.19;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .tabl-take-order__product {
    display: block;
    font-size: 56px;
    line-height: 1.18;
  }
}
@media screen and (min-width: 1280px) {
  .tabl-take-order__product {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .take-order__order {
    display: flex;
    gap: 40px;
    margin-top: 24px;
  }
}
@media screen and (min-width: 1280px) {
  .take-order__order {
    gap: 121px;
    margin-top: 48px;
  }
}

.take-order-order__card {
  width: 288px;
  margin: 0 auto;
  border-radius: 12px;
}
@media screen and (min-width: 768px) {
  .take-order-order__card {
    width: 387px;
    margin: 0;
  }
}

.take-order__product {
  display: none;
}
@media screen and (min-width: 1280px) {
  .take-order__product {
    display: block;
    margin-bottom: 32px;
  }
}

.take-order__prices {
  padding-top: 16px;
}
@media screen and (min-width: 768px) {
  .take-order__prices {
    padding-top: 69px;
  }
}
@media screen and (min-width: 1280px) {
  .take-order__prices {
    padding-top: 0;
  }
}

.take-order-prices__list {
  display: flex;
  justify-content: space-between;
  gap: 60px;
}
@media screen and (min-width: 768px) {
  .take-order-prices__list {
    display: flex;
    flex-direction: column;
    gap: 56px;
  }
}
@media screen and (min-width: 1280px) {
  .take-order-prices__list {
    margin-bottom: 40px;
    gap: 40px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
}

.take-order__old-price {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #8d9289;
}
@media screen and (min-width: 768px) {
  .take-order__old-price {
    font-size: 24px;
  }
}

.take-order__new-price {
  text-align: end;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  color: #86e543;
}
@media screen and (min-width: 768px) {
  .take-order__new-price {
    text-align: left;
    font-size: 48px;
  }
}

.take-order__variants {
  display: none;
}
@media screen and (min-width: 1280px) {
  .take-order__variants {
    display: block;
  }
}

.take-order-variants__list {
  display: flex;
  gap: 16px;
}
@media screen and (min-width: 768px) {
  .take-order-variants__list {
    gap: 24px;
  }
}

.take-order-variants__item {
  width: calc((100% - 48px) / 4);
}
@media screen and (min-width: 768px) {
  .take-order-variants__item {
    width: calc((100% - 72px) / 4);
  }
}

.take-order-variants__card {
  border-radius: 6px;
}

.tabl-take-order__variants {
  margin-top: 16px;
}
@media screen and (min-width: 768px) {
  .tabl-take-order__variants {
    margin-top: 24px;
  }
}
@media screen and (min-width: 1280px) {
  .tabl-take-order__variants {
    display: none;
  }
}/*# sourceMappingURL=index.css.map */