<section class="instruction">
  <div class="container">
    <h2 class="instruction__title">Заголовок тексту</h2>
    <include src="./partials/elements/title_line.html"></include>
    <div class="instruction__body">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt velit
      provident deserunt non, explicabo laudantium exercitationem commodi unde
      maiores optio autem nisi accusantium! Assumenda suscipit quas, molestiae
      reprehenderit laboriosam omnis tempora facere. Tempora fuga nihil
      molestiae sunt pariatur dignissimos est officiis id impedit ducimus
      deserunt vel adipisci voluptas non excepturi eligendi autem ullam odit
      aspernatur, error omnis? Voluptas assumenda error distinctio accusamus.
      Mollitia recusandae commodi aperiam quaerat nulla laborum ipsam labore hic
      eveniet iusto, maxime explicabo distinctio ex ullam praesentium non quas
      quibusdam amet nam iste deserunt facere perferendis. Et fugit obcaecati
      aliquam, odio facere corporis labore id itaque soluta.
    </div>
  </div>
</section>
