<section class="accessories">
  <div class="container">
    <h1 class="accessories__top-title">All accessories</h1>

    <include src="./partials/elements/title_line.html"></include>
    <h2 class="product-cards visually-hidden">All accessories List</h2>
    <ul class="accessories__list">
      <li class="accessories__item">
        <a href="#" class="accessories__link">
          <div class="accessories-wrap">
            <img
              class="accessories-wrap__img"
              srcset="
                ./images/all_accessories/XiberiaK9.jpg    1x,
                ./images/all_accessories/XiberiaK9-x2.jpg 2x
              "
              src="./images/all_accessories/XiberiaK9.jpg"
              alt="Headset"
              width="285"
              height="276"
            />

            <div class="accessories-box">
              <p class="accessories-box__text">
                100% Brand new and high quality! <br /><br />
                Ergonomic in design makes it more adjustable to<br /><br />
                More fashionable for your daily use, such as playing games.<br /><br />
                Built-in high sensitivity and noise reduction microphone.<br /><br />
                It is not easy to break or deform, and wear comfortable, no
                pressure.<br />
              </p>
            </div>
          </div>

          <h3 class="accessories__title">Xiberia K9 PRO PC <br />Headset</h3>

          <div class="accessories-box__price">
            <span class="accessories-old__price">65.14 USD</span>
            <span class="accessories-new__price">55.14 USD</span>
          </div>
        </a>
      </li>
      <li class="accessories__item">
        <a href="#" class="accessories__link">
          <div class="accessories-wrap">
            <img
              class="accessories-wrap__img"
              srcset="
                ./images/all_accessories/G95Light.jpg    1x,
                ./images/all_accessories/G95Light-x2.jpg 2x
              "
              src="./images/all_accessories/G95Light.jpg"
              alt="Headset"
              width="285"
              height="276"
            />

            <div class="accessories-box">
              <p class="accessories-box__text">
                100% Brand new and high quality! <br /><br />
                Ergonomic in design makes it more adjustable to<br /><br />
                More fashionable for your daily use, such as playing games.<br /><br />
                Built-in high sensitivity and noise reduction microphone.<br /><br />
                It is not easy to break or deform, and wear comfortable, no
                pressure.<br />
              </p>
            </div>
          </div>

          <h3 class="accessories__title">
            G95 Light Surround <br />Gaming Headset
          </h3>

          <div class="accessories-box__price">
            <span class="accessories-old__price">72.78 USD</span>
            <span class="accessories-new__price">51.78 USD</span>
          </div>
        </a>
      </li>
      <li class="accessories__item">
        <a href="#" class="accessories__link">
          <div class="accessories-wrap">
            <img
              class="accessories-wrap__img"
              srcset="
                ./images/all_accessories/Malloom.jpg    1x,
                ./images/all_accessories/Malloom-x2.jpg 2x
              "
              src="./images/all_accessories/Malloom.jpg"
              alt="Mouse"
              width="285"
              height="276"
            />

            <div class="accessories-box">
              <p class="accessories-box__text">
                100% Brand new and high quality! <br /><br />
                Ergonomic in design makes it more adjustable to<br /><br />
                More fashionable for your daily use, such as playing games.<br /><br />
                Built-in high sensitivity and noise reduction microphone.<br /><br />
                It is not easy to break or deform, and wear comfortable, no
                pressure.<br />
              </p>
            </div>
          </div>

          <h3 class="accessories__title">
            Malloom 1200 DPI 2.4Ghz<br />
            Wireless Mouse
          </h3>

          <div class="accessories-box__price">
            <span class="accessories-old__price">44.24 USD</span>
            <span class="accessories-new__price">29.93 USD</span>
          </div>
        </a>
      </li>
      <li class="accessories__item">
        <a href="#" class="accessories__link">
          <div class="accessories-wrap">
            <img
              class="accessories-wrap__img"
              srcset="
                ./images/all_accessories/SteampunkKeyboard.jpg    1x,
                ./images/all_accessories/SteampunkKeyboard-x2.jpg 2x
              "
              src="./images/all_accessories/SteampunkKeyboard.jpg"
              alt="Mouse"
              width="285"
              height="276"
            />

            <div class="accessories-box">
              <p class="accessories-box__text">
                100% Brand new and high quality! <br /><br />
                Ergonomic in design makes it more adjustable to<br /><br />
                More fashionable for your daily use, such as playing games.<br /><br />
                Built-in high sensitivity and noise reduction microphone.<br /><br />
                It is not easy to break or deform, and wear comfortable, no
                pressure.<br />
              </p>
            </div>
          </div>

          <h3 class="accessories__title">
            Steampunk Anti-Ghosting <br />Mechanical Keyboard
          </h3>

          <div class="accessories-box__price">
            <span class="accessories-old__price">160.00 USD</span>
            <span class="accessories-new__price">110.00 USD</span>
          </div>
        </a>
      </li>
      <li class="accessories__item">
        <a href="#" class="accessories__link">
          <div class="accessories-wrap">
            <img
              class="accessories-wrap__img"
              srcset="
                ./images/all_accessories/XiberiaK9PRO.jpg    1x,
                ./images/all_accessories/XiberiaK9PRO-x2.jpg 2x
              "
              src="./images/all_accessories/XiberiaK9PRO.jpg"
              alt="Mouse"
              width="285"
              height="276"
            />

            <div class="accessories-box">
              <p class="accessories-box__text">
                100% Brand new and high quality! <br /><br />
                Ergonomic in design makes it more adjustable to<br /><br />
                More fashionable for your daily use, such as playing games.<br /><br />
                Built-in high sensitivity and noise reduction microphone.<br /><br />
                It is not easy to break or deform, and wear comfortable, no
                pressure.<br />
              </p>
            </div>
          </div>

          <h3 class="accessories__title">Xiberia K9 PRO PC <br />Headset</h3>

          <div class="accessories-box__price">
            <span class="accessories-old__price">156.00 USD</span>
            <span class="accessories-new__price">116.00 USD</span>
          </div>
        </a>
      </li>
      <li class="accessories__item">
        <a href="#" class="accessories__link">
          <div class="accessories-wrap">
            <img
              class="accessories-wrap__img"
              srcset="
                ./images/all_accessories/RGBKeyboard.jpg    1x,
                ./images/all_accessories/RGBKeyboard-x2.jpg 2x
              "
              src="./images/all_accessories/RGBKeyboard.jpg"
              alt="Keyboard"
              width="285"
              height="276"
            />

            <div class="accessories-box">
              <p class="accessories-box__text">
                100% Brand new and high quality! <br /><br />
                Ergonomic in design makes it more adjustable to<br /><br />
                More fashionable for your daily use, such as playing games.<br /><br />
                Built-in high sensitivity and noise reduction microphone.<br /><br />
                It is not easy to break or deform, and wear comfortable, no
                pressure.<br />
              </p>
            </div>
          </div>

          <h3 class="accessories__title">
            RGB LED Backlit<br />
            Mechanical Keyboard
          </h3>

          <div class="accessories-box__price">
            <span class="accessories-old__price">156.00 USD</span>
            <span class="accessories-new__price">116.00 USD</span>
          </div>
        </a>
      </li>
      <li class="accessories__item">
        <a href="#" class="accessories__link">
          <div class="accessories-wrap">
            <img
              class="accessories-wrap__img"
              srcset="
                ./images/all_accessories/DARSHIONMouse.jpg 1x,
                ./images/all_accessories/DARSHIONMouse.jpg 2x
              "
              src="./images/all_accessories/DARSHIONMouse.jpg"
              alt="Mouse"
              width="285"
              height="276"
            />

            <div class="accessories-box">
              <p class="accessories-box__text">
                100% Brand new and high quality! <br /><br />
                Ergonomic in design makes it more adjustable to<br /><br />
                More fashionable for your daily use, such as playing games.<br /><br />
                Built-in high sensitivity and noise reduction microphone.<br /><br />
                It is not easy to break or deform, and wear comfortable, no
                pressure.<br />
              </p>
            </div>
          </div>

          <h3 class="accessories__title">
            DARSHION 3200 DPI<br />
            MZ-17 Gaming Mouse
          </h3>

          <div class="accessories-box__price">
            <span class="accessories-old__price">48.00 USD</span>
            <span class="accessories-new__price">32.00 USD</span>
          </div>
        </a>
      </li>
      <li class="accessories__item">
        <a href="#" class="accessories__link">
          <div class="accessories-wrap">
            <img
              class="accessories-wrap__img"
              srcset="
                ./images/all_accessories/K569Keyboard.jpg    1x,
                ./images/all_accessories/K569Keyboard-x2.jpg 2x
              "
              src="./images/all_accessories/K569Keyboard.jpg"
              alt="Keyboard"
              width="285"
              height="276"
            />

            <div class="accessories-box">
              <p class="accessories-box__text">
                100% Brand new and high quality! <br /><br />
                Ergonomic in design makes it more adjustable to<br /><br />
                More fashionable for your daily use, such as playing games.<br /><br />
                Built-in high sensitivity and noise reduction microphone.<br /><br />
                It is not easy to break or deform, and wear comfortable, no
                pressure.<br />
              </p>
            </div>
          </div>

          <h3 class="accessories__title">
            K569 RGB LED Backlit<br />
            Mechanical Keyboard
          </h3>

          <div class="accessories-box__price">
            <span class="accessories-old__price">156.98 USD</span>
            <span class="accessories-new__price">112.16 USD</span>
          </div>
        </a>
      </li>
      <li class="accessories__item">
        <a href="#" class="accessories__link">
          <div class="accessories-wrap">
            <img
              class="accessories-wrap__img"
              srcset="
                ./images/all_accessories/Steampunk.jpg    1x,
                ./images/all_accessories/Steampunk-x2.jpg 2x
              "
              src="./images/all_accessories/Steampunk.jpg"
              alt="Keyboard"
              width="285"
              height="276"
            />

            <div class="accessories-box">
              <p class="accessories-box__text">
                100% Brand new and high quality! <br /><br />
                Ergonomic in design makes it more adjustable to<br /><br />
                More fashionable for your daily use, such as playing games.<br /><br />
                Built-in high sensitivity and noise reduction microphone.<br /><br />
                It is not easy to break or deform, and wear comfortable, no
                pressure.<br />
              </p>
            </div>
          </div>

          <h3 class="accessories__title">
            Steampunk Anti-Ghosting<br />
            Mechanical Keyboard
          </h3>

          <div class="accessories-box__price">
            <span class="accessories-old__price">82.40 USD</span>
            <span class="accessories-new__price">62.40 USD</span>
          </div>
        </a>
      </li>
      <li class="accessories__item">
        <a href="#" class="accessories__link">
          <div class="accessories-wrap">
            <img
              class="accessories-wrap__img"
              srcset="
                ./images/all_accessories/WiredPS4.jpg    1x,
                ./images/all_accessories/WiredPS4-x2.jpg 2x
              "
              src="./images/all_accessories/WiredPS4.jpg"
              alt="Headset"
              width="285"
              height="276"
            />

            <div class="accessories-box">
              <p class="accessories-box__text">
                100% Brand new and high quality! <br /><br />
                Ergonomic in design makes it more adjustable to<br /><br />
                More fashionable for your daily use, such as playing games.<br /><br />
                Built-in high sensitivity and noise reduction microphone.<br /><br />
                It is not easy to break or deform, and wear comfortable, no
                pressure.<br />
              </p>
            </div>
          </div>

          <h3 class="accessories__title">
            Wired Gaming <br />Headphones For PS4
          </h3>

          <div class="accessories-box__price">
            <span class="accessories-old__price">72.65 USD</span>
            <span class="accessories-new__price">47.55 USD</span>
          </div>
        </a>
      </li>
      <li class="accessories__item">
        <a href="#" class="accessories__link">
          <div class="accessories-wrap">
            <img
              class="accessories-wrap__img"
              srcset="
                ./images/all_accessories/HAVITHeadset.jpg    1x,
                ./images/all_accessories/HAVITHeadset-x2.jpg 2x
              "
              src="./images/all_accessories/HAVITHeadset.jpg"
              alt="Headset"
              width="285"
              height="276"
            />

            <div class="accessories-box">
              <p class="accessories-box__text">
                100% Brand new and high quality! <br /><br />
                Ergonomic in design makes it more adjustable to<br /><br />
                More fashionable for your daily use, such as playing games.<br /><br />
                Built-in high sensitivity and noise reduction microphone.<br /><br />
                It is not easy to break or deform, and wear comfortable, no
                pressure.<br />
              </p>
            </div>
          </div>

          <h3 class="accessories__title">
            HAVIT USB 3.5mm <br />
            Gaming Headset
          </h3>

          <div class="accessories-box__price">
            <span class="accessories-old__price">65.14 USD</span>
            <span class="accessories-new__price">53.98 USD</span>
          </div>
        </a>
      </li>
      <li class="accessories__item">
        <a href="#" class="accessories__link">
          <div class="accessories-wrap">
            <img
              class="accessories-wrap__img"
              srcset="
                ./images/all_accessories/SomicUSD.jpg    1x,
                ./images/all_accessories/SomicUSD-x2.jpg 2x
              "
              src="./images/all_accessories/SomicUSD.jpg"
              alt="Headset"
              width="285"
              height="276"
            />

            <div class="accessories-box">
              <p class="accessories-box__text">
                100% Brand new and high quality! <br /><br />
                Ergonomic in design makes it more adjustable to<br /><br />
                More fashionable for your daily use, such as playing games.<br /><br />
                Built-in high sensitivity and noise reduction microphone.<br /><br />
                It is not easy to break or deform, and wear comfortable, no
                pressure.<br />
              </p>
            </div>
          </div>

          <h3 class="accessories__title">
            Somic G936N PS4<br />
            Gaming Headset
          </h3>

          <div class="accessories-box__price">
            <span class="accessories-old__price">102.00 USD</span>
            <span class="accessories-new__price">66.78 USD</span>
          </div>
        </a>
      </li>
      <li class="accessories__item">
        <a href="#" class="accessories__link">
          <div class="accessories-wrap">
            <img
              class="accessories-wrap__img"
              srcset="
                ./images/all_accessories/AULAMouse.jpg    1x,
                ./images/all_accessories/AULAMouse-x2.jpg 2x
              "
              src="./images/all_accessories/AULAMouse.jpg"
              alt="Mouse"
              width="285"
              height="276"
            />

            <div class="accessories-box">
              <p class="accessories-box__text">
                100% Brand new and high quality! <br /><br />
                Ergonomic in design makes it more adjustable to<br /><br />
                More fashionable for your daily use, such as playing games.<br /><br />
                Built-in high sensitivity and noise reduction microphone.<br /><br />
                It is not easy to break or deform, and wear comfortable, no
                pressure.<br />
              </p>
            </div>
          </div>

          <h3 class="accessories__title">
            AULA SI9006 Gaming <br />
            Mouse
          </h3>

          <div class="accessories-box__price">
            <span class="accessories-old__price">89.13 USD</span>
            <span class="accessories-new__price">64.13 USD</span>
          </div>
        </a>
      </li>
      <li class="accessories__item">
        <a href="#" class="accessories__link">
          <div class="accessories-wrap">
            <img
              class="accessories-wrap__img"
              srcset="
                ./images/all_accessories/HXSJGamingMouse.jpg    1x,
                ./images/all_accessories/HXSJGamingMouse-x2.jpg 2x
              "
              src="./images/all_accessories/HXSJGamingMouse.jpg"
              alt="Mouse"
              width="285"
              height="276"
            />

            <div class="accessories-box">
              <p class="accessories-box__text">
                100% Brand new and high quality! <br /><br />
                Ergonomic in design makes it more adjustable to<br /><br />
                More fashionable for your daily use, such as playing games.<br /><br />
                Built-in high sensitivity and noise reduction microphone.<br /><br />
                It is not easy to break or deform, and wear comfortable, no
                pressure.<br />
              </p>
            </div>
          </div>

          <h3 class="accessories__title">
            HXSJ A903 3200 DPI USB<br />
            Wired Gaming Mouse
          </h3>

          <div class="accessories-box__price">
            <span class="accessories-old__price">50.49 USD</span>
            <span class="accessories-new__price">32.49 USD</span>
          </div>
        </a>
      </li>
      <li class="accessories__item">
        <a href="#" class="accessories__link">
          <div class="accessories-wrap">
            <img
              class="accessories-wrap__img"
              srcset="
                ./images/all_accessories/G95GamingHeadse.jpg    1x,
                ./images/all_accessories/G95GamingHeadse-x2.jpg 2x
              "
              src="./images/all_accessories/G95GamingHeadse.jpg"
              alt="Headset"
              width="285"
              height="276"
            />

            <div class="accessories-box">
              <p class="accessories-box__text">
                100% Brand new and high quality! <br /><br />
                Ergonomic in design makes it more adjustable to<br /><br />
                More fashionable for your daily use, such as playing games.<br /><br />
                Built-in high sensitivity and noise reduction microphone.<br /><br />
                It is not easy to break or deform, and wear comfortable, no
                pressure.<br />
              </p>
            </div>
          </div>

          <h3 class="accessories__title">
            G95 Light Surround <br />
            Gaming Headset
          </h3>

          <div class="accessories-box__price">
            <span class="accessories-old__price">78.98 USD</span>
            <span class="accessories-new__price">50.98 USD</span>
          </div>
        </a>
      </li>
      <li class="accessories__item">
        <a href="#" class="accessories__link">
          <div class="accessories-wrap">
            <img
              class="accessories-wrap__img"
              srcset="
                ./images/all_accessories/YMDKKeyboard.jpg    1x,
                ./images/all_accessories/YMDKKeyboard-x2.jpg 2x
              "
              src="./images/all_accessories/YMDKKeyboard.jpg"
              alt="Keyboard"
              width="285"
              height="276"
            />

            <div class="accessories-box">
              <p class="accessories-box__text">
                100% Brand new and high quality! <br /><br />
                Ergonomic in design makes it more adjustable to<br /><br />
                More fashionable for your daily use, such as playing games.<br /><br />
                Built-in high sensitivity and noise reduction microphone.<br /><br />
                It is not easy to break or deform, and wear comfortable, no
                pressure.<br />
              </p>
            </div>
          </div>

          <h3 class="accessories__title">
            YMDK Double Shot 104 <br />
            Keyboard
          </h3>

          <div class="accessories-box__price">
            <span class="accessories-old__price">71.77 USD</span>
            <span class="accessories-new__price">46.77 USD</span>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
