<footer class="footer">
  <div class="container footer__container">
    <a href="./index.html" class="text-link">Shop for gamers</a>
    <nav class="navigation navigation__container">
      <ul class="site-nav site-nav__container">
        <li class="site-nav__item">
          <a href="./accessories.html" class="site-nav__link">Accessories</a>
        </li>
        <li class="site-nav__item">
          <a href="./take_order.html" class="site-nav__link">Take order</a>
        </li>
        <li class="site-nav__item">
          <a href="./contact.html" class="site-nav__link">Contact</a>
        </li>
        <li class="site-nav__item">
          <a href="./blog.html" class="site-nav__link">Blog</a>
        </li>
      </ul>
    </nav>
    <div class="footer-social footer-social__container">
      <ul class="social social__container">
        <li class="social__item">
          <a href="" class="social__link">
            <svg class="social__logo" width="24" height="24">
              <use href="./images/symbol-defs.svg#instagram"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a href="" class="social__link">
            <svg class="social__logo" width="24" height="24">
              <use href="./images/symbol-defs.svg#youtube"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a href="" class="social__link">
            <svg class="social__logo" width="24" height="24">
              <use href="./images/symbol-defs.svg#facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <address class="address address__container">
      <p class="address__email">Email</p>
      <ul class="address__container-email">
        <li class="address__item">
          <a href="mailto:sfg.info@gmail.com" class="address__link">sfg.info@gmail.com</a>
        </li>
      </ul>
      <p class="address__phone">Phone number</p>
      <ul class="address__container-phone">
        <li class="address__item">
          <a href="tel:+380936432288" class="address__link">+38 (093) 643 22 88</a>
        </li>
        <li class="address__item">
          <a href="tel:+380503454423" class="address__link">+38 (050) 345 44 23</a>
        </li>
      </ul>
    </address>
  </div>
</footer>