<header class="header">
  <div class="header-wraper">
    <div class="header-wraper2">
      <div class="container header__container">
        <a href="./index.html" class="text-link text-link__navigation link"
          >Shop for gamers</a
        >
        <button
          type="button"
          class="menu-button is-open"
          aria-expanded="false"
          aria-controls="menu-container"
          data-menu-button
        >
          <svg width="54" height="36" aria-label="Преключатель мобільного меню">
            <use
              class="icon-cross"
              href="./images/symbol-defs.svg#open-menu"
            ></use>
            <use
              class="icon-menu"
              href="./images/symbol-defs.svg#close-menu"
            ></use>
          </svg>
        </button>
        <nav class="navigation navigation__container">
          <ul class="site-nav site-nav__container list">
            <li class="site-nav__item">
              <a href="./accessories.html" class="site-nav__link link"
                >Accessories</a
              >
            </li>
            <li class="site-nav__item">
              <a href="./contact.html" class="site-nav__link link">Contact</a>
            </li>
            <li class="site-nav__item">
              <a href="./blog.html" class="site-nav__link link">Blog</a>
            </li>
          </ul>
        </nav>
        <a href="./accessories.html" class="button">Shop now</a>
      </div>
    </div>
    <div class="menu-container" id="menu-container" data-menu>
      <div class="menu__wraper">
        <div class="navigation-mobile">
          <ul class="site-nav site-nav__container list">
            <li class="site-nav__item">
              <a href="./accessories.html" class="site-nav__link link"
                >Accessories</a
              >
            </li>
            <li class="site-nav__item">
              <a href="./contact.html" class="site-nav__link link">Contact</a>
            </li>
            <li class="site-nav__item">
              <a href="./blog.html" class="site-nav__link link">Blog</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
